body{
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}
.frame{
    max-width: 1440px;
    margin: 0 auto;
    z-index: 2;
    color: white;
}
#primary-nav {
    text-align: right;
    margin-right: 50px;
    margin-top: -75px;
}
#primary-nav li{
    display: inline-block;
      font-size: 20px;
      text-transform: uppercase;
      margin-right: 30px;
      font-weight: 900;
}
#primary-nav li a{
        text-decoration: none;
        color: white;
}

#toggle-nav-btn {
    display: none;
    position: absolute;
    right: 1em;
    top: 1em;
}

.menu-list{
    display: flex;
    padding-top: 105px;
    margin-right: 350px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 500;
}
.menu-list div{
 margin-right: 20px;
}
.menu-list-logo{
  margin-top: -50px;
  width: 105px;
  height: 105px;
}
.menu-list-logo img{
  width: 105px;
  height: 105px;
  object-fit: contain;
}

.header-background-img{
 background-image: url(Images/header-background-img.jpg);
 width: 100%;
 height: 650px;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.header-background-img-02{
 background-image: url(Images/background-img.jpg);
 width: 100%;
 height: 1840px;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text{
  margin-top: 120px;
  margin-bottom: 250px;
  margin-left: 70px;
  color: white;
  position: relative;
  z-index: 3;
}
.hero-text h1{
  font-size: clamp(2rem, 5vw + 1rem, 4rem);
  font-weight: 900;
  margin-bottom: 10px;
  
}
.hero-text h2{
  font-family: Krona One, sans-serif;
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}
.hero-menu-btn a{
  text-decoration: none;
  color: #5B0002;
}
.hero-menu-btn a:visited{
  text-decoration: none;
  color: #5B0002;
}
.hero-menu-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 52px;
  border: none;
  border-radius: 10px;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.hero-vector{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -400px;
}

.home-card-01,
.home-card-02{
  max-width: 1180px;
 margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: -100px;
}
.home-card-02{
  margin-top: 120px;
}
.home-card-01-text,
.home-card-02-text{
  width: 50%;
 text-align: center;
}

.home-card-01-text div:nth-child(1){
  font-size: 36px;
  font-weight: 400;
  color: #5B0002;
  opacity: .6;
}
.home-card-01-text div:nth-child(2){
  font-family: 'Krona One', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #5B0002;
  margin-bottom: 30px;
}
.home-card-01-text div:nth-child(3),
.home-card-02-text div:nth-child(4){
  font-size: 20px;
  font-weight: 400;
  color: #505050;
  margin-bottom: 30px;
  line-height: 1.2;
  text-align: center;
}
.Menu-btn a,
.events-btn a{
  text-decoration: none;
  color: #AD7659;
}
.Menu-btn a:visited,
.events-btn a:visited{
  text-decoration: none;
  color: #AD7659;
}
.Menu-btn,
.events-btn{
  width: 190px;
  height: 52px;
  background-color: white;
  border: 5px solid #AD7659;
  border-radius: 10px;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.home-card-02-text div:first-child{
  font-size: 40px;
  font-weight: 900;
  color: #67AFCC;
}
.home-card-02-text div:nth-child(2){
  font-size: 40px;
  font-weight: 900;
  color: #5DAB76;
}
.home-card-02-text div:nth-child(3){
  font-size: 40px;
  font-weight: 900;
  color: #CAAC5E;
  margin-bottom: 30px;
}

/* Menu Page */
.menu-titles{
  margin-left: 120px;
  padding-top: 30px;
}
.menu-titles h1{
  font-family: Krona One, sans-serif;
  font-size: 36px;
  color: #5B0002;
}
.menu-titles h2,
.menu-end-title{
font-family: Krona One, sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #AD7659;
  margin-top: -30px;
}
.menu-end-title{
 max-width: 1200px;
margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 30px;
}
.menu-end-inside-02{
max-width: 1170px;
margin: 0 auto;
margin-top: -170px;
padding-bottom: 100px;

}
.menu-end-inside-02a{
  display: flex;
  gap: 30px;
}

.menu-end-inside-02b{
  display: flex;
}
.menu-end-inside-02b div:nth-child(2){
  width: 350px;
  text-align: right;
  margin-left: 60px;
}
.menu-container{
  background-color: white;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
}

.menu-img-container{
  background-color: white;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  padding: 50px;
}
.menu-middle{
  margin: 0 auto;
}
.menu-middle-inside{
  display: flex;
  margin: 0 auto;
  gap: 50px;
  max-width: 1440px;
  justify-content: center;
}
.menu-middle-teas{
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
.menu-middle-teas div{
  max-width: 150px;
  margin-top: 5px;
}
.menu-end-inside-01{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 80px;
}
.footer-background-img{
 background-image: url(Images/footer-background-img.jpg);
 width: 100%;
 height: 350px;
   background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 200px;

}
.footer-background-img-menu{
 background-image: url(Images/footer-background-img.jpg);
 width: 100%;
 height: 350px;
   background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.footer-frame{
  margin: 0 auto;
  max-width: 1440px;
  color: white;
  display: flex;
  font-size: 20px;
  margin-top: 100px;
}
.footer-frame-menu{
  margin: 0 auto;
  max-width: 1440px;
  color: white;
  display: flex;
  font-size: 20px;
}
.footer-logo img{
  width: 105px;
  height: 105px;
  margin-left: -20px;
  object-fit: contain;
}
.footer-row-01,
.footer-row-02{
  display: flex;
}
.footer-row-01{
  margin-top: 50px;
  margin-right: 260px;
}
.footer-row-01 div:nth-child(2){
  font-weight: 900;
  font-size: 24px;
  width: 140px;
  margin-top: 38px;
}
.footer-slogan{
  font-size: 20px;
  color: white;
  width: 270px;
}
.footer-copyright{
    font-size: 16px;
  color: white;
 text-align: left;
 max-width: 1440px;
 margin: 0 auto;
  margin-top: 50px;
}
.footer-row-02 div{
  width: 190px;
}
.footer-row-02{
  margin-top: 80px;
  gap: 30px;
  margin-right: 90px;
}
.footer-row-1-2{
  display: flex;
}
.footer-row-3-4{
  margin-left: -40px;
  margin-top: 80px;
}
.footer-row-02 div:nth-child(2){
  margin-top: 48px;
}
.footer-row-04 div{
  margin-bottom: 10px;
}
.footer-row-03 ul{
  margin-top: 3px;
  list-style-type: none;
}
.footer-row-03 li{
  margin-bottom: 10px;
}
.footer-row-03 a{
  text-decoration: none;
  color: white;
}
.footer-row-3-4{
  display: flex;
  gap: 90px;
}
 @media (max-width: 1250px){
  .home-card-01{
    flex-direction: column-reverse;
  }
  .home-card-02{
    flex-direction: column;
  }
  .home-card-01-text,
  .home-card-02-text{
    width: 550px;
  }
  .menu-middle-inside{
    flex-direction: column;
    align-items: center;
  }
   .footer-background-img{
    background-image: url(Images/footer-background-img-02.jpg);
 width: 100%;
 height: 700px;
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 1200px;
margin: 0 auto;
  }
  .footer-frame{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-row-02{
    margin-right: 0px;
  }
  .footer-row-3-4{
    margin-left: -550px;
  }
  .footer-copyright{
    margin-left: 90px;
  }
  .menu-end-inside-01{
    flex-direction: column;
  }
  .menu-end-inside-01b{
   margin-top: -60px;
  }
  .menu-end-inside-02{
    margin-top: 20px;
  }
  .menu-end{
  
    max-width: 550px;
    margin: 0 auto;
  }
 }

 @media (max-width: 970px){
  .menu-list div:nth-child(2),
  .menu-list div:nth-child(3), 
  .menu-list div:nth-child(4),
  .menu-list div:nth-child(5){
    display: none;
  }
 
 }
  @media (max-width: 767px) {
      #primary-nav {
      display: grid;
      justify-content: center;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.5s ease-out;
    }
    #primary-nav li {
      display: inline-block;
      margin-top: 120px;
      font-size: 35px;
      text-transform: uppercase;
      margin-right: 45px;
      font-weight: 900;
    }
    #primary-nav li a{
        text-decoration: none;
        color: white;
    }
    body.nav-open #primary-nav {
      grid-template-rows: 1fr;
    }
    .inner {
      overflow: hidden;
    }
    #toggle-nav-btn {
      display: block; 
      background: transparent;
      border: 0;
      font-size: 85px;
      color: white;
      margin-top: -30px;
    }
    .header-background-img{
      height: 1000px;
    }
  .hero-text{
    margin-top: 150px;
     margin-left: 30px;
  }
    .hero-text h1{
    text-align: center;
  }
  .hero-text h2{
    text-align: center;
  }
  .hero-menu-btn{
    margin: 0 auto;
  }
  .hero-vector{
    margin-top: -180px;
    transform: scale(.65);
  }
  .footer-row-1-2{
    flex-direction: column;
  }
  .footer-row-3-4{
    margin-left: -140px;
  }
  .footer-copyright{
    margin-left: 100px;
  }

}