html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'inter', sans-serif;
    font-weight: 600;
}

body {
    overflow: hidden; 
}

.header{
    display: flex;
}

.logo-container{
    width: 100px;
    height: 90px;
    border-radius: 0 0 20px 0;
    background-color: #D9D9D9;
}
.logo-container img{
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-left: 25px;
}
.sub-header{
    padding-left: 20px;
}
h1{
    font-size: 32px;
    margin-top: 10px;
    color: #bdbdbd;
;
}
.title{
    font-size: 24px;
    font-weight: 500;
    margin-top: -15px;
}

.side-nav{
    position: fixed;
right: 0px;
    width: 90px;
    height: 900px;
    border-radius: 20px 0 0 0;
    background-color: #D9D9D9;
}

.notif-container{
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    margin-top: 30px;
    margin-right: 22px;
}

.side-nav img{
    width: 28px;
    padding-left: 5px;
    padding-top: 5px;
    
}
.icon{
display: flex;
flex-direction: column;
position: fixed;
bottom: 50px;
right: 28px;
gap: 8px;
}

.main-container{
    display: flex;
}