
:root{
    --background-color: #E7E7E7;
    --logo: #000000;
    --page-name: #000000;
    --subhead: #808080;
    --body: #000000;
    --subtext: #808080;
    --ui-container: #C6C6C6;
    --scroll: #808080;
     --decrease: #E20000;
    --increase: #23BD00;
    --inner-containers: #FFFFFF;
    --move-three-dots: #808080;
    --containers: rgba(255, 255, 255, 0.5);
    --trendline: #1E2334;
    --selected: #FFFFFF;
    --notification-alert: #FFFFFF;
     --notification-icon: #000000;
    --divider: #BEC7EA;
    --notification: #FFFFFF;
    --notification-circle: #BEC7EA;
    --notification-number: #000000;
    --notification-opened:rgba(255, 255, 255, 0.5);
    --buy-sell-buttons: #000000;
    --buy-sell-buttons-text: #FFFFFF;
     --notifcation-body: #000000;
    --notification-time: #808080;
    --icons: #000000;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    --hover: rgba(0, 0, 0, 0.25);
}
.dark-mode{
    --background-color: #1C1C1C;
    --logo: #FFFFFF;
    --page-name: #FFFFFF;
    --subhead: #BEC7EA;
    --body: #FFFFFF;
    --subtext: #808080;
    --ui-container: #262B40;
    --scroll: #FFFFFF;
     --decrease: #E20000;
    --increase: #23BD00;
    --inner-containers: #1E2334;
    --move-three-dots: #000000;
    --containers: rgba(0, 0, 0, 0.5);
    --trendline: #FFFFFF;
    --selected: #BEC7EA;
    --notification-alert: #FFFFFF;
     --notification-icon: #000000;
    --divider: rgba(255, 255, 255, 0.15);
    --notification: #FFFFFF;
    --notification-circle: #BEC7EA;
    --notification-number: #000000;
    --notification-opened:rgba(0, 0, 0, 0.5);
    --buy-sell-buttons: #FFFFFF;
    --buy-sell-buttons-text: #000000;
     --notifcation-body: #000000;
    --notification-time: #808080;
    --icons: #FFFFFF;
    --hover: rgba(255, 255, 255, 0.5);
}

html, body {
    margin: 0;
    height: 1080px;
    width: 1920px;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    color: var(--body);
    font-size: 14px;
}

body {
    overflow: hidden; 
      background-image: url('images/background_img.jpg');
  background-size: cover;  
  background-position: center;
  background-repeat: no-repeat;
}

body.dark-mode {
  background-image: url('images/background_img_darkmode.jpg');
}

.logo-container{
    display: flex;
}

.logo{
   width: 45px;
    height: 45px;
    padding-top: 20px;
    padding-left: 45px;
    color: var(--logo);
    
}

body.dark-mode .logo {
  content: url('images/uptrade_logo_white.svg');
}

h1{
    font-size: 32px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: "MuseoModerno", sans-serif;
}
.sub-header{
    display: flex;
    width: 1800px;
  align-items: center;
}
.title{
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
    padding-left: 55px;
    color: var(--page-name);
   
}
.search-container {
margin-left: auto;
margin-right: 80px;
  position: relative;
  width: 270px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('images/search_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.search-input {
  width: 100%;
  height: 20px;
  padding: 10px 15px 10px 45px; 
  border-radius: 15px;
  border: none;
  font-size: 14px;
  outline: none;
  background-color: var(--containers);
  color: var(--subtext);
}

.side-nav{
    position: fixed;
right: 0px;
    width: 90px;
    height: 1080px;
    background-color: var(--containers);
    margin-top: -150px;
    box-shadow: var(--box-shadow);
}

.notif-container{
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: var(--notification);
    border-radius: 15px;
    margin-top: 50px;
    margin-right: 22px;
}

.notif-container:active,
.notif-container:focus {
  background-color: none;
  outline: none;
}

.side-nav img{
    width: 28px;
    padding-left: 5px;
    padding-top: 5px;
    
}
.icon{
display: flex;
flex-direction: column;
position: fixed;
bottom: 50px;
right: 28px;
gap: 8px;
color: var(--logo);
}

.main-container{
    display: flex;

}
.inner-container {
  display: grid;
  grid-template-columns: auto, auto, auto, auto, auto;
  grid-template-areas:
      "one two three four five"
    "six six six six five"
    "seven seven seven eight eight"
    ;
  gap: 10px;
 margin-left: 45px;
}

.inner-container-portfolio {
  display: grid;
  grid-template-columns: auto, auto, auto, auto, auto;
  grid-template-areas:
       "one two three three three"
    "four four three three three"
    "five five six six seven"
    ;
  gap: 10px;
 margin-left: 45px;
}

.inner-container1{
  grid-area: one;
  width: 340px;
  height: 100px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.inner-container1-portfolio{
 grid-area: one;
 width: 340px;
 height: 100px;
background: var(--containers);
 padding: 20px;
 border-radius: 20px;
 box-shadow: var(--box-shadow);
}

.inner-container2{
  grid-area: two;
  width: 240px;
  height: 100px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-left: -75px;
}

.inner-container2-portfolio{
 grid-area: two;
 width: 300px;
 height: 100px;
background: var(--containers);
 padding: 20px;
 border-radius: 20px;
 box-shadow: var(--box-shadow);
}


.inner-container3 {
  grid-area: three;
   width: 240px;
  height: 100px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
   margin-left: -75px;

}
.inner-container3-portfolio{
grid-area: three;
 width: 955px;
  height: 560px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.inner-container4{
  grid-area: four; 
   width: 240px;
  height: 100px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
   margin-left: -75px;
}

.inner-container4-portfolio{
  grid-area: four;
   width: 690px;
   height: 410px;
 padding-left: 30px;
  background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}


.inner-container5{
    display: flex;
  flex-direction: column;
  grid-area: five;
  width: 420px;
  height: 560PX;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  
}
.inner-container5-portfolio{
  grid-area: five;
  width: 620px;
  height: 230px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.inner-container6{
  grid-area: six;
   width: 1220px;
   height: 410px;
 padding-left: 30px;
  background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}
.inner-container6-portfolio{
  grid-area: six;
   width: 650px;
   height: 230px;
   background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-left: -70px;
}


.inner-container7{
    display: flex;
  flex-direction: column;
  grid-area: seven;
  width: 1080;
   background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);

}
.inner-container7-portfolio{
grid-area: seven;
 width: 325px;
 height: 230px;
 background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.inner-container8{
  grid-area: eight;
   width: 650px;
   height: 230px;
   background: var(--containers);
  padding: 20px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.link-container {
  text-decoration: none; 
  color: inherit;        
  display: block;        
}
.link-container:hover .inner-container1 {
   background: var(--containers);
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  cursor: pointer;
}

.subheading{
    font-size: 16px;
    color: var(--subhead);
    font-weight: 500;
    margin-top: -5px;

}
.tpv2{
font-size: 32px;
margin-top: 0px;
color: var(--body);
}
.tpv3{
    margin-top: -25px;
}
.money-top-containers{
    font-size: 24px;
    margin-top: 0px;
    color: var(--body);
}
.money-top-containers2{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--body);
}
.tgl3{
    margin-top: -15px;
    color: var(--increase);
}

.scroll-container {
  width: 420px;
  height: 520px;       
  overflow-y: auto;     
}

.scroll-container2 {
  width: 1000px;
  height: 200px;        
  overflow-y: auto;     
 
}
.scroll-container3 {
  width: 920px;
  height: 600px;        
  overflow-y: auto; 
  margin-left: 20px;    
 
}
.scroll-container4 {
  width: 325px;
  height: 600px;        
  overflow-y: auto;  
}


.scroll-container .item,
.scroll-container2 .item2,
.scroll-container3 .item3,
.scroll-container4 .item4 {
  background: var(--inner-containers);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: none;
  display: flex;
  gap: 5px;
}

.item{
    height: 40px;
     transition: all 0.2s ease;
  border-radius: 12px;
  cursor: pointer;
}
.item:hover,
.item2:hover {
  background: var(--containers); 
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}
.item2{
    height: 60px;
    width: 520px;
      display: flex;
      flex-direction: column;
       transition: all 0.2s ease;
  border-radius: 12px;
  cursor: pointer;
}

.item3{
    height: 30px;
     transition: all 0.2s ease;
  border-radius: 12px;
  cursor: pointer;
}

.item4{
    height: 30px;
     transition: all 0.2s ease;
  border-radius: 12px;
  cursor: pointer;
  margin-top: -5px;
}

.new{
   background-color: #23BD00;

}

.item2 p{
    font-size: 12px;
    padding-left: 10px;
}

.watchlist-subhead{
      display: flex;
  justify-content: space-between;  
  align-items: center;


}

.watchlist-subhead img{
    margin-top: -15px;
}
.sort-icon {
  content: url('images/sort-by-icon.svg'); 
}


body.dark-mode .sort-icon {
  content: url('images/sort-by-icon-white.svg'); 
}


.move-icon{
    margin-top: 8px;
}
.watchlist-logo,
.watchlist-logo2{
  width: 40px;
  height: 40px;
  border-radius: 50%;     
  overflow: hidden;        
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;  
  
}

.watchlist-logo img {
  width: 150%;
  height: 150%;
  object-fit: cover;      
}
.watchlist-logo2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}     

.add-icon {
  content: url('images/add_icon.svg'); 
}

/* Dark mode */
body.dark-mode .add-icon {
  content: url('images/add_icon_white.svg'); 
  width: 24px;
}
.watchlist-name{
    padding-left: 10px;
    margin-top: -10px;
}
.positions-name{
    padding-left: 10px;
    margin-top: -10px;
}
.watchlist-ticker{
    font-size: 14px;
}
.positions-ticker{
    font-size: 14px;
    margin-top: 8px;
}
.watchlist-name-subtext{
    font-size: 12px;
    color: var(--subtext);
    margin-top: -10px;
}
.positions-name-subtext{
    font-size: 12px;
    color: var(--subtext);
    margin-top: -15px;
}
.watchlist-price{ 
    margin-left: auto;
    width: 60px;
}
.watchlist-price p{
    margin-right: auto;
}
.watchlist-dollar{
      margin-top: 5px;
      font-size: 14px;
}
.watchlist-dollar-percent{
    margin-top: -10px;
    font-size: 12px;
    color: var(--decrease);
}
.watchlist-dollar-percent2{
    margin-top: -10px;
    font-size: 12px;
    color: var(--increase);
}

.portfolioperformance-dates{
  display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.portfolioperformance-dates span {
  color: var(--icons);
  margin: 0 5px;
  padding: 5px 5px;
  border-radius: 6px;
  cursor: pointer;          
  transition: all 0.2s ease;
}

.portfolioperformance-dates span:hover {
  background-color: var(--ui-container);
}

.portfolioperformance-dates span.active {
  background: var(--ui-container);
  color: var(--selected); 
}

.portfolioperformance-second{
    display: flex;
}
.portfolioperformance-dates-dollar{
    font-size: 12px;
    color: var(--subtext);
    margin-top: -20px;
}
.portfolioperformance-dates-dollar p{
    margin-top: 40px;
    margin-right: 30px;
}
 .chart-bg {
   background-image: url('images/bg-chart.png');
  width: 1080px;
  height: 300px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}

 .chart-bg2 {
   background-image: url('images/bg-chart.png');
  width: 560px;
  height: 300px;  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.chart-bg img{
  width: 1080px;  
    margin-top: 80px;
}
.chart-bg2 img{
  width: 560px;  
    margin-top: 80px;
}
.line {
  border-top: 2px dashed var(--subtext);
  margin-top: -20px;
  width: 1080px;
  margin-left: 80px;
}

.line2 {
  border-top: 2px dashed var(--subtext);
  margin-top: -20px;
  width: 560px;
  margin-left: 80px;
}

.portfolioperformance-dates-bottom{
    display: flex;
     justify-content: space-between;
    width: 1080px;
    margin-left: 80px;
}

.portfolioperformance-dates-bottom2{
    display: flex;
     justify-content: space-between;
    width: 560px;
    margin-left: 80px;
}

.portfolioperformance-dates-bottom p,
.portfolioperformance-dates-bottom2 p{
    font-size: 14px;
    color: var(--subtext);
}
.jan21{
    margin-left: auto;
}
.top-news-display{
    display: flex;
    gap: 10px;
}
.top-news-headlines{
    margin-top: 5px;
    color: var(--body);
}
.top-news-percent{
    margin-top: -10px;
    color: var(--decrease);
}
.top-news-percent2{
    margin-top: -10px;
    color: var(--increase);
}
.top-news-time{
    color: var(--subtext);
}
.recent-transactions{
    width: 100%;            
  border-collapse: collapse; 
  margin-top: 15px;
    border-collapse: separate;
 
}


.recent-transactions th{
    text-align: left;
    color: var(--subtext);
}

.recent-transactions td{
      padding: 12px 15px; 
        border-bottom: 1px solid var(--subtext); 
}


.recent-transactions td:first-child {
    padding-left: 0px;
}
.recent-transactions td:last-child {
    padding-right: 0;
   
}
.recent-transactions tr:last-child td{
    border-bottom: none;
   
}

.recent-transactions2 thead{
    font-size: 12px;
    gap: 10px;
}
.decrease{
    color: var(--decrease);
}

body.dark-mode .icon img:nth-child(2) { 
  content: url('images/account_icon_white.svg');
}

body.dark-mode .icon img:nth-child(3) { 
  content: url('images/menu_icon_white.svg');
}


body.dark-mode .icon img:nth-child(5) { 
  content: url('images/logout_icon_white.svg');
}

.wallet-icon,
.settings-icon,
.account-icon,
.logout-icon {
  width: 24px;
  height: 24px;
  
}
body.dark-mode .account-icon {
  content: url('images/account_icon_white.svg');
}

body.dark-mode .logout-icon {
  content: url('images/logout_icon_white.svg');
}


body.dark-mode .wallet-icon {
  content: url('images/wallet_icon_white.svg');
}

body.dark-mode .settings-icon {
  content: url('images/settings_icon_white.svg');
}


#themeToggle {
   all: unset;
  cursor: pointer;
  display: flex;            
  justify-content: center; 
  align-items: center;      
  width: 33px;              
  height: 33px;
  position: relative;  
  padding: 20px 0;  
}

.theme-button::before {
  content: url('images/darkmode_icon.svg');
  display: block;
  width: 24px;
  height: 24px;
}
body.dark-mode .theme-button::before {
  content: url('images/lightmode_icon.svg');
}

.notif-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notif-popup {
  display: none; 
  position: absolute;
  top: 50px;       
  right: 0;
  width: 420px;
  height: 300px;
  background: var(--containers);
  padding: 15px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  z-index: -2;
  top: -3px;
}




.notif-popup.active {
  display: block;
  z-index: -1;
  backdrop-filter: blur(3px);
}

.notif-popup h2{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}


.notification-inner-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.notification-inner-container{
    height: 80px;
    width: 400px;
      display: flex;
       transition: all 0.2s ease;
       background-color: var(--inner-containers);
  border-radius: 12px;
  cursor: pointer;   
  margin-top: 10px;
}

.notification-ticker{
    width: 80px;
    font-size: 24px;
    margin-left: 20px;
    color: var(--body);
}
.notification-companyname{
    font-size: 14px;
    font-weight: 700;
     color: var(--body);
}
.notification-article{
    width: 260px;
    font-size: 12px;
     color: var(--body);
     margin-top: -10px;
}
.notification-time{
    font-size: 14px;
    color: var(--notification-time);
    margin-top: 15px;
}

.buysell-container {
  display: flex;
  justify-content: flex-end;  
  gap: 10px;                 
}


.sellbuybutton{
   width: 95px;
   height: 35px;
   background-color: var(--buy-sell-buttons);
   border-radius: 10px;
   color: var(--buy-sell-buttons-text);
   margin-top: 10px;
}

.sellbuybutton:hover{
    transform: translateY(-2px);
    cursor: pointer;
}

.positions-header{
    display: flex;
    font-size: 12px;
    color: var(--subtext);
    width: 920px;
    gap: 20px;
    text-align: right;
    justify-content: baseline;
    
}

.topandbottom-header{
    display: flex;
    font-size: 12px;
    color: var(--subtext);
    width: 520px;
    margin-left: 160px;
    margin-top: -10px;
}

.topandbottom-header p{
    width: 50px;
    margin-left: 20px;
    text-align: right;
}

.positions-header p {
    width: 120px;

}

.positions-header-shares{
    width: 20px;
}

.sparkline{
    width: 40px;
    height: 20px;
    margin-left: 45px;
    margin-top: 5px;
}
.increase{
    color: var(--increase);
}
.item3-values-00{
    margin-left: 40px;
    font-size: 12px;
}
.item3-values-01{
    margin-left: 45px;
    font-size: 12px;
    color: var(--decrease);
}
.item3-values-01b{
    margin-left: 40px;
    font-size: 12px;
    color: var(--increase);
}
.item3-values-02{
    margin-left: 55px;
     font-size: 12px;
      color: var(--decrease);
}
.item3-values-02b{
    margin-left: 45px;
     font-size: 12px;
     color: var(--increase);
}
.item3-values-03{
    margin-left: 45px;
     font-size: 12px;
      color: var(--decrease);
}
.item3-values-03b{
    margin-left: 40px;
     font-size: 12px;
      color: var(--increase);
}
.item3-values-04{
    margin-left: 30px;
     font-size: 12px;
}

.item3-values-05{
    margin-left: 30px;
     font-size: 12px;
}
.item3-values-06{
    margin-left: 30px;
     font-size: 12px;
}
.item3-values-07{
    margin-left: 55px;
     font-size: 12px;
}
.asset-allocation-inner{
    display: flex;
}
#chart{
    width: 1000px; 
    height: 240px;
    margin-top: -20px;
}
.topandbottom-01{
      margin-left: 50px;
    font-size: 12px;
    color: var(--increase);
}
.topandbottom-02{
      margin-left: 15px;
    font-size: 12px;
}